DownloadUrl=https://aka.ms/vs/17/release/installer
productSemanticVersion=17.14.10+36327.8
autoSelfUpdateMinVersion=3.14.2082.286130193
LicenseUrl=https://go.microsoft.com/fwlink/?LinkID=2179811
PrivacyUrl=https://go.microsoft.com/fwlink/?LinkID=661279
KB2919355Url=https://go.microsoft.com/fwlink/?LinkId=403643
Win8OSNotSupportedUrl=https://go.microsoft.com/fwlink/?linkid=843932
OSNotSupportedUrl=https://go.microsoft.com/fwlink/?linkid=840937
DotNetNotSupportedUrl=https://go.microsoft.com/fwlink/?linkid=840938
LayoutHelpUrl=https://go.microsoft.com/fwlink/?linkid=849620
MajorVersion=17.0
IsFixed=false
